* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.konva-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  background: #383840;
}

.title-home {
  font-size: 36px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
